@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant h-md (@media (max-height: 720px));
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .fade-top-bottom {
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }

  .no-scrollbar {
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;

    -ms-overflow-style: none;
  }

  .text-shadow-lg {
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.9);
  }
}
